In [29]:
# Dependencies
from splinter import Browser
from bs4 import BeautifulSoup
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd

### Find latest title and content

In [30]:
# Setup splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 91.0.4472
Get LATEST driver version for 91.0.4472
Driver [/Users/LJS/.wdm/drivers/chromedriver/mac64/91.0.4472.101/chromedriver] found in cache

In [31]:
url = 'https://redplanetscience.com/'
browser.visit(url)

In [32]:
browser.links

In [33]:
# find latest news title and summary 

html = browser.html
soup = BeautifulSoup(html, 'html.parser')

quote = soup.find('div', class_='content_title').text
summary = soup.find('div', class_='article_teaser_body').text

In [34]:
print(quote)
print(summary)

NASA's New Mars Rover Will Use X-Rays to Hunt Fossils
PIXL, an instrument on the end of the Perseverance rover's arm, will search for chemical fingerprints left by ancient microbes.

### Featured Image

In [35]:
url_img = 'https://spaceimages-mars.com/'
browser.visit(url_img)

In [36]:
html_img = browser.html
soup_img = BeautifulSoup(html_img, 'html.parser')

img_link = soup_img.find('img', class_='headerimage fade-in')
img_link = img_link['src']

In [37]:
featured_img_link = str(url_img) + str(img_link)
print(featured_img_link)

https://spaceimages-mars.com/image/featured/mars2.jpg

### Mars Facts

In [38]:
url_facts = 'https://galaxyfacts-mars.com'
browser.visit(url_facts)

In [39]:
df_list = pd.read_html(url_facts)

In [40]:
table = df_list[1].head(7)
table

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:          2 ( Phobos & Deimos )
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C

In [41]:
table = table.rename(columns={0: "Fact", 1: "Value"})

In [42]:
table

                   Fact                          Value
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:          2 ( Phobos & Deimos )
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C

In [43]:
html_table = table.to_html()
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Fact</th>\n      <th>Value</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2 ( Phobos &amp; Deimos )</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Surface Temperature:</td>\n      <td>-87 to -5 °C</td>\n    </tr>\n  </tbody>\n</table>'

### Mars Hemispheres

In [44]:
url_hem = 'https://marshemispheres.com/'
browser.visit(url_hem)

In [56]:
html_hem = browser.html
soup_hem = BeautifulSoup(html_hem, 'html.parser')

#finding section that contains information about each hemisphere
hem_data = soup.find_all('div', class_='item')

#empty list to append
dictionary = []


# Loop through each
for hem in items: 
    hem_title = i.find('h3').text
    href = i.find('a', class_='itemLink product-item')['href']
    
    # go to link for each full image
    browser.visit(url_hem + partial_img_url)
    href = browser.html
    soup = BeautifulSoup(href, 'html.parser')
    img_url = url_hem + soup.find('img', class_='wide-image')['src']
    
    # Append 
    dictionary.append({"title" : title, "img_url" : img_url})

In [57]:
dictionary

[{'title': 'Valles Marineris Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg'}]