In [1]:
# Dependencies
from splinter import Browser
from bs4 import BeautifulSoup
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd

### Find latest title and content

In [2]:
# Setup splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 91.0.4472
Get LATEST driver version for 91.0.4472
Driver [/Users/LJS/.wdm/drivers/chromedriver/mac64/91.0.4472.101/chromedriver] found in cache

In [3]:
url = 'https://redplanetscience.com/'
browser.visit(url)

In [4]:
browser.links

In [5]:
# find latest news title and summary 

html = browser.html
soup = BeautifulSoup(html, 'html.parser')

title = soup.find('div', class_='content_title').text
paragraph = soup.find('div', class_='article_teaser_body').text

In [6]:
print(title)
print(paragraph)

Celebrate Mars Reconnaissance Orbiter's Views From Above
Marking its 15th anniversary since launch, one of the oldest spacecraft at the Red Planet has provided glimpses of dust devils, avalanches, and more.

### Featured Image

In [7]:
url_img = 'https://spaceimages-mars.com/'
browser.visit(url_img)

In [8]:
html_img = browser.html
soup_img = BeautifulSoup(html_img, 'html.parser')

img_link = soup_img.find('img', class_='headerimage fade-in')
img_link = img_link['src']

In [9]:
featured_img_link = str(url_img) + str(img_link)
print(featured_img_link)

https://spaceimages-mars.com/image/featured/mars1.jpg

### Mars Facts

In [10]:
url_facts = 'https://galaxyfacts-mars.com'
browser.visit(url_facts)

In [11]:
df_list = pd.read_html(url_facts)

In [12]:
table = df_list[1].head(7)
table

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:          2 ( Phobos & Deimos )
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C

In [13]:
table = table.rename(columns={0: "Fact", 1: "Value"})

In [14]:
table

                   Fact                          Value
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:          2 ( Phobos & Deimos )
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C

In [15]:
html_table = table.to_html()
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Fact</th>\n      <th>Value</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2 ( Phobos &amp; Deimos )</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Surface Temperature:</td>\n      <td>-87 to -5 °C</td>\n    </tr>\n  </tbody>\n</table>'

### Mars Hemispheres

In [16]:
url_hem = 'https://marshemispheres.com/'
browser.visit(url_hem)

In [17]:
html_hem = browser.html
soup_hem = BeautifulSoup(html_hem, 'html.parser')

#finding section that contains information about each hemisphere
hem_data = soup_hem.find_all('div', class_="collapsible results")
names = hem_data[0].find_all('h3')

name_list = []

# Loop through each name
for name in names: 
    name_list.append(name.text)

# loop through each image link

links = hem_data[0].find_all('a')
links_dict = []

for link in links:
    if (link.img):
        url_img = url_hem + link['href']
        links_dict.append(url_img)
    
# from each of the links, grab the photo

images = []

for url in links_dict:
        
    browser.visit(url)
    html = browser.html
    soup = BeautifulSoup(html, 'html.parser')
        
    # find image and append
    image = soup.find_all('img', class_='wide-image')
    image_src = image[0]['src']
    good_img_link = url_hem + image_src
    images.append(good_img_link)

In [21]:
images

['https://marshemispheres.com/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg',
 'https://marshemispheres.com/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg',
 'https://marshemispheres.com/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg',
 'https://marshemispheres.com/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg']

In [25]:
#create dataframe to add titles
title_creator = pd.DataFrame({'Name':name_list,"Img_Link":images})

In [28]:
dictionary = title_creator.to_dict()
dictionary

{'Name': {0: 'Cerberus Hemisphere Enhanced',
  1: 'Schiaparelli Hemisphere Enhanced',
  2: 'Syrtis Major Hemisphere Enhanced',
  3: 'Valles Marineris Hemisphere Enhanced'},
 'Img_Link': {0: 'https://marshemispheres.com/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg',
  1: 'https://marshemispheres.com/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg',
  2: 'https://marshemispheres.com/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg',
  3: 'https://marshemispheres.com/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg'}}